[submodule "linux"]
	path = linux
	url = https://github.com/sifive/riscv-linux.git
[submodule "buildroot"]
	path = buildroot
	url = https://github.com/sifive/buildroot.git
[submodule "riscv-pk"]
	path = riscv-pk
	url = https://github.com/riscv/riscv-pk.git
[submodule "riscv-isa-sim"]
	path = riscv-isa-sim
	url = https://github.com/riscv/riscv-isa-sim.git
[submodule "riscv-fesvr"]
	path = riscv-fesvr
	url = https://github.com/riscv/riscv-fesvr.git
[submodule "riscv-qemu"]
	path = riscv-qemu
	url = git://github.com/sifive/riscv-qemu.git
[submodule "HiFive_U-Boot"]
	path = HiFive_U-Boot
	url = https://github.com/sifive/HiFive_U-Boot
	branch = regression
