# freedom-u-sdk-common
USER_CLASSES:append = " buildhistory buildstats buildstats-summary"
INHERIT:append = " rm_work"
RM_OLD_IMAGE = "1"

# mirror
PREMIRRORS:prepend = "\
    git://.*/.* https://downloads.yoctoproject.org/mirror/sources/ \
    gitsm://.*/.* https://downloads.yoctoproject.org/mirror/sources/ \
    ftp://.*/.* https://downloads.yoctoproject.org/mirror/sources/ \
    http://.*/.* https://downloads.yoctoproject.org/mirror/sources/ \
    https://.*/.* https://downloads.yoctoproject.org/mirror/sources/ "

# qemu-native
PACKAGECONFIG:append:pn-qemu-system-native = " sdl"
PACKAGECONFIG:append:pn-nativesdk-qemu = " sdl"

# sdk
CONF_VERSION = "2"

# tensorflow
BAZEL_TARGET_CPU:riscv64 = "riscv64"

MACHINE ??= "qemuriscv64"
DISTRO ??= "freedom-u-sdk"
BBMULTICONFIG ?= ""
